#app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.lorenzControlsBox {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.lorenzControlRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1em 0;

    label {
        padding: 0 1em;
    }

    div {
        padding: 0 0.5em;

        label {
            padding: 0 0.25em;
        }
    }
}
